<!-- index.html -->
{% extends "base.html" %} {% block title %}ToDo-List App{% endblock %} {% block
content %}



<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h1 class="mb-4">Welcome to Your ToDo-List</h1>
      <div class="d-grid gap-3">
        <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg">Login</a>

        <a href="{{ url_for('register') }}" class="btn btn-secondary btn-lg">Register</a>
      </div>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>

  <!-- Image -->
  <div class="mt-4">
    <img
      src="{{ url_for('static', filename='images/todo-image.webp') }}"
      alt="ToDo List Image"
      class="img-fluid"
      style="max-width: 1200px"
    />
    {% endblock %}
  </div>
</div>
